* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(196, 196, 196);
}

/* .precos{
  float: right;
} */

#cookie {
  margin: 20px;
  transition-duration: 0.2s;
  transition-property: all;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 50%;
}

#cookie:hover {
  transform: scale(1.2);
}

/* #moreClicks{
  float: right;
  margin-right: 45px;
  transition-duration: 0.2s;
  transition-property: all;
}

#moreClicks:hover{
  transform: scale(1.1);
} */

#moreClicks img{
  height: 50px;
}

body main{
  padding: 16px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#bagel img{
  height: 50px;
}
body main div p{
  text-align: center;
}

body main div p img{
  height: 15px;
}

body main div{
  margin: 20px;
  transition-duration: 0.2s;
  transition-property: all;
}

body main div:hover{
  transform: scale(1.1);
}